.containerPrimary, .containerSecondary {
  font-family: inherit;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 80px;
  padding: 12px 15px;
  border-radius: var(--border-radius-small);
  color: var(--primary-rgba);
  border: 0;
  outline: 0;
  border-spacing: 0;
  text-indent: 0;
}

.containerPrimary:hover, .containerSecondary:hover {
  cursor: pointer;
}

.containerPrimary {
  background-color: rgba(187, 204, 219, 1);
}

.containerPrimary:hover {
  background-color: rgba(187, 204, 219, 0.85);
}

.containerSecondary {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(51, 51, 51, 1);
  font-weight: 300;
}

.containerSecondary:hover {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(51, 51, 51, 0.85);
}

/* Desktop */
@media (min-width: 700px) { }