:root {
  /* Sizing */
  --max-column-width: 340px;

  /* Colours */
  --primary-rgba: rgb(51, 51, 51, 1);
  --secondary-rgba: rgba(255, 255, 255, 1);
  --background-rgba: rgba(249, 249, 249, 1);
  --border-rgba: rgba(219, 219, 219, 1);
  --table-border-rgba: rgba(0, 0, 0, 0.25);
  --body-text-rgba: rgba(132, 132, 132, 1);

  /* Radii */
  --small-border-radius: 10px;
  --large-border-radius: 15px;

  /* Fonts */
  --default-font-weight: 400;
  --desktop-default-font-weight: 300;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: var(--background-rgba);
  font-family: var(--inter-font);
}

body {
  color: var(--primary-rgba);
}

a {
  color: inherit;
  text-decoration: none;
}