.main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  top: 110px;
  max-width: var(--max-width);
  margin: 0 auto;
}

/* Desktop */
@media (min-width: 700px) {
  .main {
    top: 140px;
  }
}