.main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  top: 110px;
  margin: 0 auto;
  max-width: 600px;
}

/* Tablet, Desktop */
@media (min-width: 800px) {
  .main {
    top: 140px;
    max-width: 1260px;
  }
}