.main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  top: 110px;
  margin: 0 auto;
  max-width: 600px;
}

.spacesFoundNotice {
  color: var(--body-text-primary-rgba);
  margin-bottom: 25px;
  padding: 0 20px;
  text-align: center;
}

.numberOfSpacesFound {
  font-weight: 600;
}

.containerDuringDataFetching {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Tablet, Desktop */
@media (min-width: 800px) {
  .main {
    top: 120px;
    max-width: calc(40px + (2 * var(--space-widget-column-width)));
  }

  .spacesFoundNotice {
    margin-bottom: 40px;
  }
}