.outerContainer {
  display: flex;
  overflow: hidden;
  border-radius: var(--border-radius-large);
  transform: translateZ(0);
  isolation: isolate;
}

.innerContainer {
  display: flex;
  width: var(--max-column-width);
  height: 270px;
}

.slide {
  position: relative;
  flex: 0 0 100%;
  min-width: 0;
}

.buttonContainer {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: var(--max-column-width);
  z-index: 1;
}

.buttonContainerHidden {
  display: none;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: 0;
  margin: 10px;
  border-radius: 100px;
  background-color: var(--background-rgba);
  box-shadow: 0 0 5px 0.5px rgba(0, 0, 0, 0.1);
}

.button:disabled {
  visibility: hidden;
}

.buttonLeft {
  padding: 5px 6px 5px 5px;
}

.buttonRight {
  padding: 5px 5px 6px 6px;
}

/* Desktop */
@media (min-width: 700px) {
  .button:hover {
    cursor: pointer;
  }
}