.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.leftColumn, .rightColumn {
  width: var(--max-column-width);
}

.rightColumn {
  margin-top: 30px;
}

.table {
  margin-top: 25px;
  border-top: 1px solid var(--table-border-rgba);
}

.tableRow {
  display: flex;
  padding: 10px 0;
  border-bottom: 1px solid var(--table-border-rgba);
}

.rowTitle {
  width: 130px;
}

.rowIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rowDescription {
  width: 100%;
  text-align: right;
}

.affordabilityFilled {
  color: rgba(132, 132, 132, 1);
}

/* Desktop */
@media (min-width: 700px) {
  .rightColumn {
    margin-top: 20px;
    margin-left: 40px;
  }
}