.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: var(--max-column-width);
  margin: 0 0 40px 0;
}

.leftColumn, .rightColumn {
  width: var(--max-column-width);
}

.rightColumn {
  margin: 30px 0 0 0;
}

.aboveTableInformationContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.affordabilityFilled {
  color: rgba(80, 80, 80, 1);
}

.buttonContainer {
  display: flex;
  margin: 30px 0;
}

/* Tablet, Desktop */
@media (min-width: 800px) {
  .container {
    max-width: calc(40 + (2 * var(--max-column-width)));
    margin: 0 0 80px 0;
  }

  .rightColumn {
    margin: 0 0 0 40px;
  }
}