.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: var(--max-column-width);
  margin: 0 0 40px 0;
}

.leftColumn, .rightColumn {
  width: var(--max-column-width);
}

.rightColumn {
  margin: 30px 0 0 0;
}

.table {
  margin-top: 25px;
  border-top: 1px solid var(--table-border-rgba);
}

.tableRow {
  display: flex;
  padding: 10px 0 9px 0;
  border-bottom: 1px solid var(--table-border-rgba);
}

.rowTitleContainer {
  width: 130px;
}

.rowTitle {
  color: var(--primary-rgba);
}

.rowIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rowDescription {
  width: 100%;
  text-align: right;
}

.affordabilityFilled {
  color: rgba(132, 132, 132, 1);
}

.buttonContainer {
  display: flex;
  margin: 30px 0;
}

/* Tablet */
@media (min-width: 720px) and (max-width: 1280px) {
  .container {
    max-width: calc(40 + (2 * var(--max-column-width)));
    margin: 0 0 80px 0;
  }

  .rightColumn {
    margin: 0 0 0 40px;
  }
}

/* Desktop */
@media (min-width: 1280px) {
  .container {
    margin: 0 40px 80px 40px;
  }
}