.container {
  margin-top: 25px;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
}

.tableRowHidden {
  display: none;
}

.tableRow {
  display: grid;
  grid-template-columns: 1.5fr 0.5fr 4fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 10px 0 9px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.tableRow div:nth-of-type(2) {
  display: flex;
  justify-content: center;
}

.tableRow div:nth-of-type(3) {
  text-align: right;
  overflow: hidden;
  color: var(--body-text-secondary-rgba);
  padding-left: 5px;
}

.tableRow div:nth-of-type(3) a {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: underline;
}

.tableRow div:nth-of-type(3) a:hover {
  text-decoration: none;
}

.toggleWhenExpanded, .toggleWhenCollapsed {
  display: flex;
  float: right;
  align-items: center;
  text-align: right;
  margin-top: 15px;
  font-size: 14px;
}

.toggleWhenExpanded:hover, .toggleWhenCollapsed:hover {
  cursor: pointer;
}

.toggleWhenExpanded img, .toggleWhenCollapsed img {
  margin-left: 5px;
}

.toggleWhenCollapsed img {
  transform: rotate(180deg);
}