.h1, .h2 {
  font-weight: 500;
}

.h2 {
  padding-top: 5px;
  font-size: 1rem;
  color: rgba(199, 199, 199, 1);
}

.p {
  color: var(--body-text-rgba);
}

/* Desktop */
@media (min-width: 700px) {
  .h1, .h2 {
    font-weight: var(--default-font-weight);
  }

  .p {
    font-size: 15px;
  }
}